.footer{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top:auto;
    grid-area:footer;
}
.footer_text{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}
.footer_icons{
    font-size: 30px;
}
.footer_icons .fa{
    margin-right: 20px;
    color: white;
    transition: transform 1s;
    text-decoration: none;
}
.footer_icons .fa:hover{
    color: #0ABAB5;
    transform: translateY(-15px);
}