
.background{
  width: 100%;
  background-color: #151719;
  display:grid;
  grid-template-areas:  "header"
                        "content"
                        "footer";
}

.main {
  margin: 0 0;
  width: 100%;
  min-height: 73.5vh;
  grid-area:content;
  display:unset;
}
