
.background{
  width: 100%;
  background-color: #151719;
  display:grid;
  grid-template-areas:  "header header"
                        "content content"
                        "footer footer";
}

.main {
  margin: 3rem 0;
  width: 90%;
  max-width: 40rem;
  min-height: 73.5vh;
  grid-area:content;
}
