.header {
    
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 5%;
  }
  
  .logo {
    font-size: 2rem;
    left:0;
    margin-right: 50px;
    color: white;
    font-weight: bold;
  }
  
  .cyan {
    color:#0ABAB5
  }

  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #0ABAB5;
  }
  
  .badge {
    background-color: #fc0061;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }