.mainDiv{
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
}
.sectionTextBrown,
.sectionTextOrange,
.sectionTextGreen,
.sectionTextBlue{
    font-size:20px;
    grid-area:content;
    width:50%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.sectionTextBrown{
    color: #38210f;
    background-color:#ece0d0;
}
.sectionTextOrange{
    color: #cdcbd6;
    background-color:#d96846;
}
.sectionTextGreen{
    color: #cc8b65;
    background-color:#013328;
}
.sectionTextBlue{
    color: black;
    background-color:#7CAFC4;
}




.mainText,
.subText,
.btn{
    margin:15px 15%
}

.mainText{
    font-size: 70px;
    font-weight: bold;
    text-transform:uppercase;
    text-overflow: clip;
}
.subText{
    font-size: 25px;
    text-overflow: clip;
}
.btnOrange,
.btnGreen,
.btnBlue,
.btnBrown,
.btn{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
    min-width: 100px;
    max-width: 200px;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin:15px 15%
}
.subTextGreen{
    color: #cc8b65
}
.subTextBlue{
    color: black
}
.subTextBrown{
    color: #38210f
}
.subTextOrange{
    color: #cdcbd6
}
.subTextOrange,
.subTextGreen,
.subTextBrown,
.subTextBlue{
    font-size: 25px;
    text-overflow: clip;
    margin:15px 15%
}
.btnOrange{
    color: #cdcbd6;
    background-color: transparent;
    border-color: #cdcbd6;
}
.btnOrange:hover{
    color:  #d96846;
    background: black;
    border-color: black;
}
.btnGreen{
    color: #cc8b65;
    background-color: transparent;
    border-color: #cc8b65;
}
.btnGreen:hover{
    color:  #cc8b65;
    background: black;
    border-color: black;
}
.btnBlue{
    color: black;
    background-color: transparent;
    border-color: black;
}
.btnBlue:hover{
    color:  #7CAFC4;
    background: black;
    border-color: black;
}
.btnBrown{
    color: #38210f;
    background-color: transparent;
    border-color: #38210f;
}
.btnBrown:hover{
    color:  #ece0d0;
    background: #38210f;
    border-color: #38210f;
}

.btnOrange:hover,
.btnGreen:hover,
.btnBlue:hover,
.btnBrown:hover,
.btn:hover{
    border: 3px black solid;
}
.sectionImg{
    color: white;
    font-size:50px;
    background-color:green;
    grid-area:content;
    display:unest;
    width:50%;
    max-height: 100vh;
}
.img{
    width:100%;
    height:100%;
    object-fit: cover;
}