.mainDiv{
    width: 100%;
    min-height: 100vh;
    
}
.sectionText{
    color:white;
    font-size:65px;
    background-color:red;
    grid-area:content;
}
.sectionImg{
    color: white;
    font-size:50px;
    background-color:yellow;
    grid-area:content;
}