.mainDiv{
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sectionText{
    color:white;
    font-size:65px
}
.sectionImg{
    color: white;
    font-size:50px
}