.mainDiv{
    width:100%;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
}
.sectionTextBrown,
.sectionTextOrange,
.sectionTextGreen,
.sectionTextBlue{
    font-size:20px;
    grid-area:content;
    width:50%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.sectionTextBrown{
    color: #38210f;
    background-color:#ece0d0;
}
.sectionTextOrange{
    color: #cdcbd6;
    background-color:#d96846;
}
.sectionTextGreen{
    color: #cc8b65;
    background-color:#013328;
}
.sectionTextBlue{
    color: black;
    background-color:#7CAFC4;
}




.mainText,
.subText,
.btn{
    margin:15px 15%
}

.mainText{
    font-size: 70px;
    font-weight: bold;
    text-transform:uppercase;
    text-overflow: clip;
}
.subText{
    font-size: 25px;
    text-overflow: clip;
}
.btn{
    color: #7CAFC4;
    background-color: black;
    border-color: #7CAFC4;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    height: 70px;
    min-width: 100px;
    max-width: 200px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.btn:hover{
    color:  black;
    background: #7CAFC4;
    border-color: #7CAFC4;
    border: 3px black solid;
}
.sectionImg{
    color: white;
    font-size:50px;
    background-color:green;
    grid-area:content;
    display:unest;
    width:50%;
}
.img{
    width:100%;
    height:100%;
}